resources:
  repositories:
  - repository: self
  - repository: das-platform-building-blocks
    type: github
    name: SkillsFundingAgency/das-platform-building-blocks
    ref: refs/tags/0.4.74
    endpoint: SkillsFundingAgency
  - repository: das-platform-automation
    type: github
    name: SkillsFundingAgency/das-platform-automation
    ref: refs/tags/5.0.6
    endpoint: SkillsFundingAgency

trigger:
  batch: true
  branches:
    include:
      - "master"
  paths:
    exclude:
      - LICENSE
      - README.md
      - .gitignore

variables:
- name: KubectlVersion
  value: 1.23.8
- name: ContainerImageName
  value: das-tools-notifications
- group: Release Management Resources

stages:
- template: pipeline-templates/stage/code-build.yml
  parameters:
    ServiceConnection: SFA-DIG-Prod-ARM

- template: azure-pipelines-templates/deploy/stage/nuget-publish.yml@das-platform-building-blocks

- stage: DeployTo_PREPROD
  displayName: DeployTo_PREPROD
  variables:
  - group: PreProd Management Resources
  - group: PreProd Shared Resources
  - group: PREPROD Tools Service Shared
  jobs:
  - template: pipeline-templates/job/deploy.yml
    parameters:
      Environment: PREPROD
      KubectlVersion: $(KubectlVersion)
      ServiceConnection: SFA-DIG-PreProd-ARM
      AksResourceGroup: $(AKSResourceGroupName)
      AppGatewayName: $(AKSSharedAppGatewayName)
      AppGatewayResourceGroup: $(AKSSharedNodeResourceGroupName)
      KeyVaultName: $(SharedKeyVaultName)
      KubernetesCluster: $(AKSSharedClusterName)

- stage: DeployTo_PROD
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  displayName: DeployTo_PROD
  variables:
  - group: Prod Management Resources
  - group: Prod Shared Resources
  - group: PROD Tools Service Shared
  jobs:
  - template: pipeline-templates/job/deploy.yml
    parameters:
      Environment: PROD
      KubectlVersion: $(KubectlVersion)
      ServiceConnection: SFA-DIG-Prod-ARM
      AksResourceGroup: $(AKSResourceGroupName)
      AppGatewayName: $(AKSSharedAppGatewayName)
      AppGatewayResourceGroup: $(AKSSharedNodeResourceGroupName)
      KeyVaultName: $(SharedKeyVaultName)
      KubernetesCluster: $(AKSSharedClusterName)

