---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: das-tools-notifications
    service: das-tool-service
  name: das-tools-notifications
  namespace: {{Namespace}}
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: das-tools-notifications
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: das-tools-notifications
    service: das-tool-service
  name: das-tools-notifications
  namespace: {{Namespace}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: das-tools-notifications
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: das-tools-notifications
        service: das-tool-service
    spec:
      containers:
      - env:
        - name: RedisConnectionString
          value: {{RedisConnectionString}}
        - name: APPINSIGHTS_INSTRUMENTATIONKEY
          value: {{ApiAppInsightsInstrumentationkey}}
        - name: LoggingRedisConnectionString
          value: {{LoggingRedisConnectionString}}
        - name: EnvironmentName
          value: {{EnvironmentName}}
        - name: AzureAdTenantId
          value: {{AzureAdTenantId}}
        - name: AzureAdResourceId
          value: {{AzureAdResourceId}}
        - name: AzureAdClientId
          value: {{AzureAdClientId}}
        image: {{ApiImage}}
        imagePullPolicy: IfNotPresent
        name: das-tools-notifications
        ports:
        - containerPort: 80
          protocol: TCP
        resources:
          requests:
            cpu: 25m
            memory: 512Mi
