---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: das-tools-notifications
    service: das-tool-service
  name: das-tools-notifications
  namespace: {{KubernetesNamespace}}
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: das-tools-notifications
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: das-tools-notifications
    service: das-tool-service
  name: das-tools-notifications
  namespace: {{KubernetesNamespace}}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: das-tools-notifications
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: das-tools-notifications
        service: das-tool-service
    spec:
      nodeSelector:
        agentpool: tools01
      containers:
      - env:
        - name: RedisConnectionString
          value: {{RedisConnectionString}}
        - name: EnvironmentName
          value: {{EnvironmentName}}
        - name: AzureAdTenantId
          value: {{Tenant}}
        - name: AzureAdResourceId
          value: {{ToolsNotificationsApiIdentifierUri}}
        image: {{PublicAcrName}}.azurecr.io/{{ContainerImageName}}:{{BuildNumber}}
        imagePullPolicy: IfNotPresent
        name: das-tools-notifications
        ports:
        - containerPort: 80
          protocol: TCP
        resources:
          requests:
            cpu: 25m
            memory: 512Mi
